/.idea
/.ipynb_checkpoints
/.vscode
/Cleaned Data Assignment.xlsx
/DA Workshop Mini Project
/Data
/Day_10_1st_aug_numpy_matrix.ipynb
/Day_11_2nd_aug_python_operators.ipynb
/Day_11_2nd_aug_python_operators_practice.ipynb
/Day_15_8th_aug_Assignment_clean_data.ipynb
/Day_15_8th_aug_number_system_bitwise_operator.ipynb
/Day_16_9th_Aug_Number_system_math.ipynb
/Day_17_12th_Aug_imdb_movie_rating.ipynb
/Day_1_22nd_july.ipynb
/Day_21_17th_Aug_EDA_FIFA.ipynb
/Day_22_19th_Aug_EDA_Plottings.ipynb
/Day_23_20th_Aug_IRIS_data_analysis.ipynb
/Day_24_21st_Aug_loops.ipynb
/Day_25_22nd_Aug_CV.ipynb
/Day_2_23rd_july.ipynb
/Day_3_24th_july_list.ipynb
/Day_4_25th_july_list_completed.ipynb
/Day_4_25th_july_list_practice.ipynb
/Day_5_26th_july_practice.ipynb
/Day_5_26th_july_Set.ipynb
/Day_5_26th_july_tuple.ipynb
/Day_6_27th_july_Set_continued.ipynb
/Day_6_27th_july_Set_practice.ipynb
/Day_7_29th_july_dictionary.ipynb
/Day_7_29th_july_set_completed.ipynb
/Day_7_29th_july_set_dictionary_practice.ipynb
/Day_8_30th_july_numpy.ipynb
/Day_8_30th_july_numpy_practice.ipynb
/Day_9_31st_july_numpy_continued.ipynb
/Day_9_31st_july_numpy_practice.ipynb
/EDA Practical (16th, 17th Aug)
/image.jpg
/imdb data
/Matplotlib_practice.ipynb
/Mini Projects
/My_Notebook_1.ipynb
/Pandas Practical (Day 12 to 14)
/raw data convert into clean data.pdf
/raw data.xlsx
/test.py
/variable_datatypes_IQB.ipynb